@import "../../app.scss";

.list-product {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 920px;
  padding: 10px 50px;
  margin: 30px;
  border-radius: 6px;

  h1 {
    animation: neonize 1s ease-in-out infinite alternate;
    color: white;

  }

  .list-product-format-main {
    // border: 2px solid rgb(0, 4, 255);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    padding: 20px 0px;
    color: #454545;
    font-weight: 600;
    font-size: 15px;
    text-align: center;

    p{
        font-size: 20px;
        // animation: neonize 1s ease-in-out infinite alternate;
        // color: white;
    
    }
  }

  .list-product-allproducts {
    // border: 2px solid red;
    width: 100%;
    overflow-y: auto; 
  }

  

  .listproduct-format {
    font-weight: 500;
        align-items: center;
        p {
        }

  }

  .listproduct-product-icon {
    height: 80px;
  }

  .listprodcut-remove-icon {
    cursor: pointer;
    margin: auto;
  }
  @include mobile {
    // border: 2px solid red;
    
    .list-product-format-main { 
       
        p {
            font-size: 16px;
        }
    }
    .listproduct-product-icon {
       
      }
    
      .listprodcut-remove-icon {
        
      }
  }
  @include mobileS {
     // border: 2px solid red;
   
     .list-product-format-main { 
         p{
            font-size: 14px;
         }
     }
     .listproduct-product-icon {
       }
     
       .listprodcut-remove-icon {
       }
   }
}
