* html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans ", sans-serif;
}

body {
  background-color: rgb(0, 0, 0) !important;
  color: lightgray;
  font-family: "poppins";
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

.dashboard {
  /* border: 2px solid rgb(213, 20, 20); */
  margin-top: 90px;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  overflow-y: scroll;
}

.admin-aside {
  /* border: 2px solid black; */
  color: aquamarine;
  height: 100%;
}

.userCardSolo {
  /* border: 4px black solid !important; */
  margin: 50px;
  height: 470px;
}

.userItemContainer {
  /* Your existing styles */
  height: 503px !important;
  width: 250px !important;
  /* Box Shadow */
  /* box-shadow: 100px 0px 100px 100px rgba(0,0,0,0.1);  */
  background-color: hsl(150, 15%, 89%) !important;
}

/* .dashboardProduct {
  border: 4px black solid !important;
  margin-top: 90px;
  min-height: 90vh;
} */
.dashboardProductform {
  border: 1px rgb(149, 149, 149) solid !important;
  padding: 25px;
  /* width: 660px;
  height: 240px;
  position: absolute;
  left: 800px;
  bottom: 820px;
  border-radius: 10px; */
}

.imageInput {
  border: 4px black solid !important;
}

.custom {
  width: 632px; /* Adjust the width value as needed */
}

.form-filter {
  all: unset;
}

.table-orders {
  all: unset;
}

.orders-container {
  /* border: 4px black solid !important; */
  width: 70%;
  margin: 40px auto;
  min-height: 100%;
  /* display: flex; */
}

.table-data {
  /* border: 4px black solid !important; */
  width: 100%;
  /* margin-top: 130px; */
}

.profil-container-admin {
  /* border: 1px rgba(0, 0, 0, 0.264) solid; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.admin_profil_details h3 {
  font-size: 2rem;
}

.admin_profil_details span {
  font-size: 2rem;
}

.img-box img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.admin_profil_details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-profile {
  /* border: 4px black solid; */
  padding: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center !important;
  align-items: flex-start;
}

.userItemContainer .ui.button {
  border: none;
  /* border-radius: 50; */
  /* width: 100px; */
  /* height: 40px; */
  font-size: 16px;
  font-weight: bold;
}

.userItemContainer .ui.button.ban {
  background-color: red;
  color: white;
}

.userItemContainer .ui.button.unban {
  background-color: green;
  color: white;
}

.filtring-orders {
  /* border: 4px black solid !important; */
  position: relative;
  left: 1200px;
  top: 50px;
}

.hero {
  height: 90vh;
  display: flex;
}
.hero .hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 180px;
  line-height: 1.1;
}
.hero .hero-left h2 {
  font-size: 26px;
  font-weight: 600;
  color: white !important;
  animation: neonize 1s ease-in-out infinite alternate;
}
.hero .hero-left p {
  font-size: 100px;
  font-weight: 700;
  color: white !important;
  animation: neonize 1s ease-in-out infinite alternate;
}
.hero .hero-left .hand-hand-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero .hero-left .hand-hand-icon img {
  width: 105px;
}
.hero .hero-left .hero-latest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 310px;
  height: 70px;
  border-radius: 75px;
  margin-top: 30px;
  font-size: 22px;
  font-weight: 500;
}
.hero .hero-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .hero-right video {
  width: 800px;
}
@media (max-width: 1280px) {
  .hero .hero-left {
    padding-left: 100px;
  }
  .hero .hero-left p {
    font-size: 59px;
  }
  .hero .hero-left .hand-hand-icon img {
    width: 80px;
  }
  .hero .hero-left .hero-latest-btn {
    gap: 10px;
    width: 250px;
    height: 60px;
    margin-top: 20px;
    font-size: 18px;
  }
  .hero .hero-right video {
    width: 800px;
  }
}
@media (max-width: 1024px) {
  .hero .hero-left {
    padding-left: 80px;
  }
  .hero .hero-left h2 {
    font-size: 20px;
  }
  .hero .hero-left p {
    font-size: 50px;
  }
  .hero .hero-left .hand-hand-icon img {
    width: 65px;
  }
  .hero .hero-left .hero-latest-btn {
    width: 220px;
    height: 50px;
    font-size: 16px;
  }
  .hero .hero-right video {
    width: 700px;
  }
}
@media (max-width: 800px) {
  .hero .hero-left {
    padding-left: 30px;
  }
  .hero .hero-left h2 {
    font-size: 16px;
  }
  .hero .hero-left p {
    font-size: 40px;
  }
  .hero .hero-left .hand-hand-icon img {
    width: 50px;
  }
  .hero .hero-left .hero-latest-btn {
    width: 170px;
    height: 40px;
    font-size: 13px;
  }
  .hero .hero-right img {
    width: 300px;
  }
}
@media (max-width: 500px) {
  .hero {
    height: auto;
  }
  .hero .hero-left {
    position: absolute;
    width: 500px;
  }
  .hero .hero-left h2 {
    font-size: 15px;
  }
  .hero .hero-left p {
    font-size: 40px;
  }
  .hero .hero-left .hand-hand-icon img {
    width: 45px;
  }
  .hero .hero-left .hero-latest-btn {
    width: 200px;
    height: 45px;
    font-size: 14px;
  }
}/*# sourceMappingURL=Hero.css.map */