@import "../../app.scss";

 .cartdetailmodall {
    /* border: 2px solid rgb(16, 95, 16) !important; */
    position: relative !important;
   left: 50px!important;
   width: 350px !important;
   height: fit-content!important;

}