* html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans ", sans-serif;
}

body {
  background-color: rgb(0, 0, 0) !important;
  color: lightgray;
  font-family: "poppins";
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

.dashboard {
  /* border: 2px solid rgb(213, 20, 20); */
  margin-top: 90px;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  overflow-y: scroll;
}

.admin-aside {
  /* border: 2px solid black; */
  color: aquamarine;
  height: 100%;
}

.userCardSolo {
  /* border: 4px black solid !important; */
  margin: 50px;
  height: 470px;
}

.userItemContainer {
  /* Your existing styles */
  height: 503px !important;
  width: 250px !important;
  /* Box Shadow */
  /* box-shadow: 100px 0px 100px 100px rgba(0,0,0,0.1);  */
  background-color: hsl(150, 15%, 89%) !important;
}

/* .dashboardProduct {
  border: 4px black solid !important;
  margin-top: 90px;
  min-height: 90vh;
} */
.dashboardProductform {
  border: 1px rgb(149, 149, 149) solid !important;
  padding: 25px;
  /* width: 660px;
  height: 240px;
  position: absolute;
  left: 800px;
  bottom: 820px;
  border-radius: 10px; */
}

.imageInput {
  border: 4px black solid !important;
}

.custom {
  width: 632px; /* Adjust the width value as needed */
}

.form-filter {
  all: unset;
}

.table-orders {
  all: unset;
}

.orders-container {
  /* border: 4px black solid !important; */
  width: 70%;
  margin: 40px auto;
  min-height: 100%;
  /* display: flex; */
}

.table-data {
  /* border: 4px black solid !important; */
  width: 100%;
  /* margin-top: 130px; */
}

.profil-container-admin {
  /* border: 1px rgba(0, 0, 0, 0.264) solid; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.admin_profil_details h3 {
  font-size: 2rem;
}

.admin_profil_details span {
  font-size: 2rem;
}

.img-box img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.admin_profil_details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-profile {
  /* border: 4px black solid; */
  padding: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center !important;
  align-items: flex-start;
}

.userItemContainer .ui.button {
  border: none;
  /* border-radius: 50; */
  /* width: 100px; */
  /* height: 40px; */
  font-size: 16px;
  font-weight: bold;
}

.userItemContainer .ui.button.ban {
  background-color: red;
  color: white;
}

.userItemContainer .ui.button.unban {
  background-color: green;
  color: white;
}

.filtring-orders {
  /* border: 4px black solid !important; */
  position: relative;
  left: 1200px;
  top: 50px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  box-sizing: 0 1px 3px -2px #000;
  margin-bottom: 1px;
  background-color: black;
  height: 10vh;
}
.navbar .nav-left {
  display: flex;
  text-align: center !important;
  gap: 10px;
}
.navbar .nav-left h1 {
  font-size: 38px;
  font-weight: 600;
  color: white;
}
.navbar .nav-left .nav-logo {
  border-radius: 50%;
  width: 65px;
}
@keyframes neonize {
  from {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 30px #ff319b, 0 0 50px #ff319b, 0 0 70px #ff319b, 0 0 90px #ff319b;
  }
  to {
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 15px #ff319b, 0 0 25px #ff319b, 0 0 35px #ff319b, 0 0 45px #ff319b;
  }
}
.navbar .nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.navbar .button {
  border: none;
  border-radius: 50px;
  padding: 10px;
  width: 80px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.navbar .button:hover {
  background-color: red;
}
@media (max-width: 1280px) {
  .navbar .nav-left {
    cursor: pointer;
  }
}
@media (max-width: 800px) {
  .navbar {
    padding: 50px 30px;
  }
  .navbar .nav-left .nav-logo {
    width: 60px;
  }
  .navbar .nav-left h1 {
    font-size: 28px;
    font-weight: 600;
  }
  .navbar .nav-right .button {
    width: 70px;
    padding: 8px;
  }
}
@media (max-width: 500px) {
  .navbar {
    padding: 60px 40px;
  }
  .navbar .nav-left .nav-logo {
    width: 60px;
  }
  .navbar .nav-left h1 {
    font-size: 28px;
    font-weight: 600;
  }
  .navbar .nav-right .button {
    width: 70px;
    padding: 8px;
  }
}/*# sourceMappingURL=NavbarAdmin.css.map */