@import "../../app.scss";
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  box-sizing: 0 1px 3px -2px #000;
  margin-bottom: 1px;
  background-color: black;
  height: 10vh;

  .nav-left {
    display: flex;
    text-align: center!important;
    gap: 10px;
    h1 {
      font-size: 38px;
      font-weight: 600;
      color: white;
    }
    .nav-logo {
      // border: 2px solid red;
      border-radius: 50%;
      width: 65px;
    }

    @keyframes neonize {
      from {
        text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 30px #ff319b,
          0 0 50px #ff319b, 0 0 70px #ff319b, 0 0 90px #ff319b;
      }
      to {
        text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 15px #ff319b,
          0 0 25px #ff319b, 0 0 35px #ff319b, 0 0 45px #ff319b;
      }
    }
  }

  .nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .button {
    border: none;
    border-radius: 50px;
    padding: 10px;
    width: 80px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .button:hover {
    background-color: red;
  }

 
  @include desktop {
    // border: 2px solid red;

    .nav-left {
      cursor: pointer;
      .nav-logo {
        // border: 2px solid red;
      }

      p {
        // border: 2px solid red;
      }
    }

    .nav-right {
      h1 {
      }
      .nav-profile {
      }
      .nav-arrow {
      }
    }
  }
  @include tablet {
  }
  @include mobile {
    padding: 50px 30px;

    .nav-left {
      .nav-logo {
        width: 60px;
      }

      h1 {
        font-size: 28px;
        font-weight: 600;
      }
    }

    .nav-right {
      .button {
        width: 70px;
        padding: 8px;
      }
    }
  }

  @include mobileS {
    padding: 60px 40px;

    .nav-left {
      .nav-logo {
        width: 60px;
      }

      h1 {
        font-size: 28px;
        font-weight: 600;
      }
    }

    .nav-right {

      .button {
        width: 70px;
        padding: 8px;
      }
    }
  }
}
