* html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans ", sans-serif;
}

body {
  background-color: rgb(0, 0, 0) !important;
  color: lightgray;
  font-family: "poppins";
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

.dashboard {
  /* border: 2px solid rgb(213, 20, 20); */
  margin-top: 90px;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  overflow-y: scroll;
}

.admin-aside {
  /* border: 2px solid black; */
  color: aquamarine;
  height: 100%;
}

.userCardSolo {
  /* border: 4px black solid !important; */
  margin: 50px;
  height: 470px;
}

.userItemContainer {
  /* Your existing styles */
  height: 503px !important;
  width: 250px !important;
  /* Box Shadow */
  /* box-shadow: 100px 0px 100px 100px rgba(0,0,0,0.1);  */
  background-color: hsl(150, 15%, 89%) !important;
}

/* .dashboardProduct {
  border: 4px black solid !important;
  margin-top: 90px;
  min-height: 90vh;
} */
.dashboardProductform {
  border: 1px rgb(149, 149, 149) solid !important;
  padding: 25px;
  /* width: 660px;
  height: 240px;
  position: absolute;
  left: 800px;
  bottom: 820px;
  border-radius: 10px; */
}

.imageInput {
  border: 4px black solid !important;
}

.custom {
  width: 632px; /* Adjust the width value as needed */
}

.form-filter {
  all: unset;
}

.table-orders {
  all: unset;
}

.orders-container {
  /* border: 4px black solid !important; */
  width: 70%;
  margin: 40px auto;
  min-height: 100%;
  /* display: flex; */
}

.table-data {
  /* border: 4px black solid !important; */
  width: 100%;
  /* margin-top: 130px; */
}

.profil-container-admin {
  /* border: 1px rgba(0, 0, 0, 0.264) solid; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.admin_profil_details h3 {
  font-size: 2rem;
}

.admin_profil_details span {
  font-size: 2rem;
}

.img-box img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.admin_profil_details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-profile {
  /* border: 4px black solid; */
  padding: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center !important;
  align-items: flex-start;
}

.userItemContainer .ui.button {
  border: none;
  /* border-radius: 50; */
  /* width: 100px; */
  /* height: 40px; */
  font-size: 16px;
  font-weight: bold;
}

.userItemContainer .ui.button.ban {
  background-color: red;
  color: white;
}

.userItemContainer .ui.button.unban {
  background-color: green;
  color: white;
}

.filtring-orders {
  /* border: 4px black solid !important; */
  position: relative;
  left: 1200px;
  top: 50px;
}

.cart-items-user {
  height: auto;
}
.cart-items-user hr {
  height: 3px;
  background-color: white;
  border: 0;
}
.cart-items-user .cart-items-format-main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 65px;
  padding: 20px 0px;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.cart-items-user .cat-items-format {
  font-size: 17px;
  font-weight: 500;
}
.cart-items-user .cat-icon-product-icon {
  height: 62px;
}
.cart-items-user .cart-items-quantity {
  width: 54px;
  height: 50px;
  border: 2px solid white;
  background-color: white;
}
.cart-items-user .cat-icon-remove-icon {
  width: 15px;
  margin: 0px 40px;
  cursor: pointer;
}
.cart-items-user .cart-items-down {
  display: flex;
  margin: 10px 10px;
}
.cart-items-user .cart-items-down .cart-items-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 200px;
  gap: 40px;
}
.cart-items-user .cart-items-down .cart-items-total button {
  width: 262px;
  height: 58px;
  border: none;
  outline: none;
  background-color: #ff5a5a;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.cart-items-user .cart-items-down .cart-items-total .cart-items-total-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}
.cart-items-user .cart-items-promo-code {
  flex: 1;
  font-size: 16px;
  font-weight: 500;
}
.cart-items-user .cart-items-promo-code p {
  color: white;
}
.cart-items-user .cart-items-promo-code .cart-items-promo-box {
  width: 504px;
  margin-top: 15px;
  padding-left: 20px;
  height: 58px;
  background-color: white;
}
.cart-items-user .cart-items-promo-code .cart-items-promo-box input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  width: 314px;
  height: 50px;
}
.cart-items-user .cart-items-promo-code .cart-items-promo-box button {
  width: 170px;
  height: 58px;
  background-color: black;
  color: white;
  cursor: pointer;
}
@media (max-width: 1280px) {
  .cart-items-user .cart-items-format-main {
    grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.51fr 0.5fr;
    gap: 20px;
    padding: 15px 0px;
    font-size: 15px;
  }
  .cart-items-user .cat-icon-product-icon {
    height: 50px;
  }
  .cart-items-user .cart-items-quantity {
    width: 40px;
    height: 30px;
  }
  .cart-items-user .cat-icon-remove-icon {
    margin: auto;
  }
  .cart-items-user .cart-items-down {
    margin: 80px 0px;
    flex-direction: column;
    gap: 80px;
  }
  .cart-items-user .cart-items-down .cart-items-total {
    margin: 0;
  }
  .cart-items-user .cart-items-down .cart-items-total button {
    max-width: 200px;
    height: 45px;
    font-size: 13px;
  }
  .cart-items-user .cart-items-promo-code .cart-items-promo-box {
    width: auto;
    max-width: 500px;
  }
  .cart-items-user .cart-items-promo-code .cart-items-promo-box input {
    width: 100%;
  }
  .cart-items-user .cart-items-promo-code .cart-items-promo-box button {
    width: 120px;
    margin-left: -125px;
  }
}
@media (max-width: 1024px) {
  .cart-items-user .cart-items .cart-items-promo-code p {
    color: white;
  }
}
@media (max-width: 800px) {
  .cart-items-user .cart-items .cart-items-promo-code p {
    color: white;
  }
}
@media (max-width: 500px) {
  .cart-items-user .cart-items-format-main {
    display: none;
  }
  .cart-items-user .cat-items-format {
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    gap: 10px;
  }
}/*# sourceMappingURL=CartItemsProfile.css.map */