@import "../../app.scss";

.footer {
  border-top: 1px solid #ebebeb2f;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  .footer-logo {
    display: flex;

    align-items: center;
    gap: 20px;
    p {
      font-size: 46px;
      font-weight: 700;
      color: white !important;
      animation: neonize 1s ease-in-out infinite alternate;
    }
  }
  .footer-links {
    display: flex;
    list-style: none;
    gap: 50px;
    font-size: 20px;

    li {
      cursor: pointer;
      color: white !important;
      animation: neonize 1s ease-in-out infinite alternate;
      a {
        color: inherit;
        text-decoration: none;
        transition: color 0.3s ease; /* Adding transition for smooth color change */
        animation: neonize 1s ease-in-out infinite alternate;
        color: white;
      }
      a:hover {
        color: rgba(204, 25, 19, 0.504); /* Hover color for navbar links */
      }
    }
  }

  .footer-social-icon {
    // background-color: white;
    display: flex;
    gap: 20px;
    .footer-icons-container {
      padding: 10px;
      padding-bottom: 6px;
      // border: 1px solid #ebebeb;
      cursor: pointer;
      background-color: white;
    }
  }
  .footer-coyright {
    border-top: 1px solid #ebebeb2f;
    animation: neonize 1s ease-in-out infinite alternate;
    // color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    // margin-bottom: 30px;
    color: white !important;
    font-size: 17px;
  }
  @include desktop {
    // border: 2px solid red;
  }
  @include tablet {
    // border: 2px solid red;
  }
  @include mobile {
    // border: 2px solid red;
    // gap: 20px;
    .footer-logo {
      gap: 10px;
      align-items: end;
      p {
        // border: 2px solid red;

        font-size: 45px;
      }
    }
    .logo {
      width: 70px;
    }
    .footer-links {
      font-size: 14px;
      gap: 10px;
    }
    .footer-social-icon {
      img {
        width: 22px;
      }
    }
    .footer-coyright {
      font-size: 13px;
    }
    .footer-coyright {
      // border: 2px solid red;
      // margin: 0!important;
    }
  }
  @include mobileS {
    height: auto;
    .footer-logo {
      // border: 2px solid red;
      p {
      }
      .logo {
      }
    }
    .footer-links {
      li {
      }
    }
  }
}
