/* LOGIN */
.page-container {
  /* border: 2px rgba(0, 0, 0, 0.202) solid; */

  background-image: url("../../../public/assets/home/bg-03.jpg");
  background-repeat: no-repeat;
  background-position: center;
  /* width: fit-content; */
  /* margin: auto;
  height: 1000px; */
  margin-top: 80px;
  min-height: 100vh;
  /* width: 2000px; */
}
.page-container-register {
  /* border: 2px rgba(0, 0, 0, 0.202) solid; */

  background-image: url("../../../public/assets/home/bg-03.jpg");
  background-repeat: no-repeat;
  background-position: center;
  /* width: fit-content; */
  /* margin: auto;
  height: 1000px; */
  margin-top: 80px;
  min-height: 100vh;
  /* width: 2000px; */
}
.login-form {
  /* border: 2px rgba(0, 0, 0, 0.202) solid; */
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  margin-left: 350px;
  background-color: rgb(246, 246, 246);
  width: 500px;
  height: 550px;
  position: relative;
  top: 220px;
}

.registerNow h3 {
  /* border: 2px rgba(0, 0, 0, 0.202) solid; */
  color: hsl(173, 95%, 42%);
  position: relative;
  top: 20px;
}
.registerNow h4 {
  /* border: 2px rgba(0, 0, 0, 0.202) solid; */
  color: hsl(173, 95%, 42%);
  position: relative;
  bottom: 20px;
}
.goToWebSite {
  /* border: 2px rgba(0, 0, 0, 0.202) solid; */
  color: hsl(173, 95%, 42%);
  position: relative;
  bottom: 10px;
  /* right: 14px; */
}

.register-form {
  /* border: 2px rgba(0, 0, 0, 0.202) solid; */
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  margin-left: 300px;
  position: relative;
  right: 70px;
  bottom: 60px;
  background-color: rgb(246, 246, 246);
  height: 700px;
  width: 750px;
  position: relative;
  top: 200px;
}
.loginNow h3 {
  /* border: 2px rgba(0, 0, 0, 0.202) solid; */
  color: hsl(173, 95%, 42%);
  position: relative;
  top: 20px;
}
.loginNow h4 {
  /* border: 2px rgba(0, 0, 0, 0.202) solid; */
  color: hsl(173, 95%, 42%);
  position: relative;
  bottom: 20px;
}

/* Define styles for screens up to 650px */
@media only screen and (max-width: 600px) {
  /* LOGIN */
  .page-container {
        /* border: 2px solid rgb(204, 46, 96); */

    margin-top: 100px; /* Adjusted margin */
    min-height: 100vh; /* Adjusted minimum height */
    background-image: url("../../../public/assets/home/bg-03.jpg");
    background-size: 650px 500px;
    width: 650px;
    height: 577px;
    background-attachment: unset;
    all: unset;
    width: auto!important;
    height: auto!important;
  }

  .login-form
  {
    /* border: 2px solid rgb(204, 46, 96); */

    width: 370px;
    height: auto;
    position: relative;
    right: 330px;
    top: 90px !important;
  }

  .page-container-register {
    border: 2px solid rgb(204, 46, 96);

margin-top: 100px; /* Adjusted margin */
min-height: 100vh; /* Adjusted minimum height */
background-image: url("../../../public/assets/home/bg-03.jpg");
background-size: 650px 500px;

background-attachment: unset;
all: unset;
width: auto!important;
/* height: auto!important; */
}
  .register-form {
    /* border: 2px solid rgb(204, 46, 96); */
    width: 500px;
    height: auto;
    position: relative;
    right: 260px;
    top: 70px !important;
  }


  .registerNow h3,
  .loginNow h3 {
    top: 10px; /* Adjusted top */
    bottom: auto; /* Reset bottom */
  }

  .registerNow h4,
  .loginNow h4 {
    bottom: 10px; /* Adjusted bottom */
    top: auto; /* Reset top */
  }

  .goToWebSite {
    /* border: 2px solid rgb(204, 46, 96); */
  }
  
  .email {
    width: 300px!important;
  }
  .password {
    width: 300px!important;
  }

}

/* LOGIN */
