* html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans ", sans-serif;
}

body {
  background-color: rgb(0, 0, 0) !important;
  color: lightgray;
  font-family: "poppins";
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

.dashboard {
  /* border: 2px solid rgb(213, 20, 20); */
  margin-top: 90px;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  overflow-y: scroll;
}

.admin-aside {
  /* border: 2px solid black; */
  color: aquamarine;
  height: 100%;
}

.userCardSolo {
  /* border: 4px black solid !important; */
  margin: 50px;
  height: 470px;
}

.userItemContainer {
  /* Your existing styles */
  height: 503px !important;
  width: 250px !important;
  /* Box Shadow */
  /* box-shadow: 100px 0px 100px 100px rgba(0,0,0,0.1);  */
  background-color: hsl(150, 15%, 89%) !important;
}

/* .dashboardProduct {
  border: 4px black solid !important;
  margin-top: 90px;
  min-height: 90vh;
} */
.dashboardProductform {
  border: 1px rgb(149, 149, 149) solid !important;
  padding: 25px;
  /* width: 660px;
  height: 240px;
  position: absolute;
  left: 800px;
  bottom: 820px;
  border-radius: 10px; */
}

.imageInput {
  border: 4px black solid !important;
}

.custom {
  width: 632px; /* Adjust the width value as needed */
}

.form-filter {
  all: unset;
}

.table-orders {
  all: unset;
}

.orders-container {
  /* border: 4px black solid !important; */
  width: 70%;
  margin: 40px auto;
  min-height: 100%;
  /* display: flex; */
}

.table-data {
  /* border: 4px black solid !important; */
  width: 100%;
  /* margin-top: 130px; */
}

.profil-container-admin {
  /* border: 1px rgba(0, 0, 0, 0.264) solid; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.admin_profil_details h3 {
  font-size: 2rem;
}

.admin_profil_details span {
  font-size: 2rem;
}

.img-box img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.admin_profil_details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-profile {
  /* border: 4px black solid; */
  padding: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center !important;
  align-items: flex-start;
}

.userItemContainer .ui.button {
  border: none;
  /* border-radius: 50; */
  /* width: 100px; */
  /* height: 40px; */
  font-size: 16px;
  font-weight: bold;
}

.userItemContainer .ui.button.ban {
  background-color: red;
  color: white;
}

.userItemContainer .ui.button.unban {
  background-color: green;
  color: white;
}

.filtring-orders {
  /* border: 4px black solid !important; */
  position: relative;
  left: 1200px;
  top: 50px;
}

.page-wrapper {
  height: 180vh;
}
@media (max-width: 500px) {
  .page-wrapper {
    height: 230vh;
  }
}

.products {
  text-align: center;
  height: 150vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}
.products .products-content {
  display: flex;
  height: 150vh;
}
.products .products-content .left-side {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 20px;
}
.products .products-content .left-side h1 {
  animation: neonize 1s ease-in-out infinite alternate;
  color: white !important;
}
.products .products-content .left-side .left-side-container {
  width: 310px;
  background-color: white;
  color: black !important;
}
.products .products-content .left-side .left-side-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.products .products-content .left-side .left-side-container ul li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.products .products-content .left-side .left-side-container ul li:hover {
  background-color: #f0f0f0;
}
.products .products-content .left-side .left-side-container ul li.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 120px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 0;
  left: 100%;
  margin-left: 10px;
  border: none !important;
  width: 150px;
}
.products .products-content .left-side .left-side-container ul li.dropdown .dropdown-content:hover .dropdown-content {
  display: block;
}
.products .products-content .left-side .left-side-container ul li.dropdown .dropdown-content li {
  padding: 10px;
  cursor: pointer;
}
.products .products-content .left-side .left-side-container ul li.dropdown .dropdown-content li:hover {
  background-color: #ddd;
}
.products .products-content .left-side .left-side-container ul li.dropdown:hover .dropdown-content {
  display: block;
}
.products .products-content .left-side .left-side-container .product-mark {
  color: black;
}
.products .products-content .right-side {
  flex: 15;
  margin: 0px;
  height: 126vh;
}
.products .products-content .right-side .right-side-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 40px;
  max-height: 1200px;
  overflow-y: auto;
  height: 120vh;
}
.products .products-content .right-side .right-side-container-product {
  display: flex !important;
  flex-direction: column !important;
  gap: 20px !important;
}
.products .products-content .right-side .right-side-container-product .item h1 {
  color: white !important;
}
.products .products-content .right-side .right-side-container-product .item p {
  display: none;
}
.products .products-content .right-side .right-side-container-product .item .item-prices {
  color: white !important;
}
@media (max-width: 1280px) {
  .products .right-side .right-side-container {
    grid-template-columns: 1fr 1fr !important;
  }
  .products .right-side .right-side-container-product .item h1 {
    color: white !important;
  }
  .products .right-side .right-side-container-product .item .item-prices {
    color: white !important;
  }
}
@media (max-width: 800px) {
  .products {
    height: 180vh;
  }
  .products .products-content {
    display: flex;
    flex-direction: column;
    height: 180vh;
  }
  .products .products-content .left-side {
    align-items: center;
  }
  .products .products-content .left-side h1 {
    font-size: 18px;
  }
  .products .products-content .left-side .left-side-container {
    width: 270px !important;
  }
}
@media (max-width: 500px) {
  .products {
    height: 180vh;
  }
  .products .products-content {
    display: flex;
    flex-direction: column;
    height: 180vh;
  }
  .products .products-content .left-side {
    align-items: center;
  }
  .products .products-content .left-side h1 {
    font-size: 18px;
  }
  .products .products-content .left-side .left-side-container {
    width: 270px !important;
  }
}/*# sourceMappingURL=Products.css.map */