@import "../../app.scss";

.breadcrums {
  //   border: 2px solid rgb(102, 194, 41);
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin: 60px 170px;
  text-transform: capitalize;
  animation: neonize 1s ease-in-out infinite alternate;

  @include desktop {
    // border: 2px solid red;
    margin: 30px 50px;
    font-size: 14px;
  }
  @include tablet {
    // border: 2px solid red;
    margin: 30px 30px;
    font-size: 13px;
  }
  @include mobile {
    // border: 2px solid red;
    margin: 30px 10px;
    font-size: 12px;
  }
  @include mobileS {
    // border: 2px solid red;
    font-size: 10px;

  }
}
