@import "../../app.scss";

.offers {
  // border: 2px solid red;
  height: auto !important;
  display: flex;
  // margin: auto !important;
  padding: 0px 140px;
  margin-bottom: 150px;
gap: 10px!important;
  .offers-left {
    // border: 2px solid white;
    flex: 1!important;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 80px;
      font-weight: 600;
      animation: neonize 1s ease-in-out infinite alternate;
      color: white;
    }

    p {
      font-size: 22px;
      font-weight: 600;
      color: white;

    }

    button {
      width: 282px;
      height: 70px;
      border-radius: 35px;
      background-color: #ff13c4;
      border: none;
      color: white;
      font-size: 22px;
      font-weight: 500;
      margin-top: 30px;
      cursor: pointer;
    }
  }

  .offers-righet {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
    // gap: 20px;
    // width: auto!important;


    .offerimage {
      width: 800px;
    }

    // .offerimage:hover {
    //   transform: scale(1.1);
    //   transition: transform 0.4s ease;
    //   z-index: 1;
    // }
  }

  @include desktop {
    
    padding: 0px 80px;
    margin-bottom: 120px;

    .offers-left {
      h1 {
        font-size: 40px !important;
      }

      p {
        font-size: 18px !important;
      }

      button {
        width: 220px;
        height: 50px;
        font-size: 18px;
      }
    }

    .offers-righet {
      padding-top: 30px;
      .offerimage {
        // width: 800px !important;
        // height: 150px !important;
      }
    }
  }

  @include tablet {
    padding: 0px 60px;
    margin-bottom: 80px;
    // height: auto !important;

    .offers-left {
      h1 {
        font-size: 30px;
      }

      p {
        font-size: 16px;
      }

      button {
        width: 160px;
        height: 40px;
        font-size: 16px;
      }
    }

    .offers-righet {
      padding-top: 10px;

      .offerimage {
        width: 450px !important;
      }
    }
  }

  @include mobile {
    margin-bottom: 50px!important;
    height: auto !important;
  
    .offers-left {
      // border: 2px solid rgb(0, 255, 149);
      align-items: center;
      gap: 5px;
      h1 {
        font-size: 40px!important;
      }
  
      p {
        // border: 2px solid red;
  
        font-size: 15px!important;
      }
  
      button {
        width: 110px;
        height: 25px;
        font-size: 15px;
        margin-top: 12px;
      }
    }

    .offers-righet {
      // padding-top: 10px;
      display: none;

      .offerimage {
        width: 250px !important;
      }
    }
  }

  @include mobileS {
    // border: 2px solid red;
  // padding: 0px 60px;
  margin-bottom: 50px!important;
  height: auto !important;

  .offers-left {
    // border: 2px solid rgb(0, 255, 149);
    align-items: center;
    gap: 5px;
    h1 {
      font-size: 26px!important;
    }

    p {
      // border: 2px solid red;

      font-size: 10px!important;
    }

    button {
      width: 90px;
      height: 25px;
      font-size: 11px;
      margin-top: 12px;
    }
  }

  .offers-righet {
    border: 2px solid rgb(207, 156, 15);
    width: auto!important;
    display: none;

    // padding-top: 10px;

    .offerimage {
      // border: 2ox solid red!important;
      width: 160px !important;
    }
  }
}
}
